BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; FONT-SIZE: 12pt; PADDING-TOP: 0px
}
TD {
	FONT-SIZE: 12pt
}
A:link {
	COLOR: #0000ad; TEXT-DECORATION: none
}
A:visited {
	COLOR: #606090; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0080c0; TEXT-DECORATION: underline
}
SMALL {
	FONT-SIZE: 11pt
}
PRE {
	OVERFLOW-X: auto; PADDING-LEFT: 10px; WHITE-SPACE: pre-wrap; FONT-SIZE: 11pt
}
TEXTAREA {
	FONT-SIZE: 10pt
}
INPUT {
	FONT-SIZE: 10pt
}
SELECT {
	FONT-SIZE: 10pt
}
BLOCKQUOTE {
	MARGIN: 1pt 0pt 1pt 20pt
}
P.a {
	TEXT-ALIGN: left; TEXT-INDENT: -15pt; MARGIN: 2pt 5pt 2pt 20pt; FONT-SIZE: 11pt
}
LI.l {
	TEXT-ALIGN: left; MARGIN-BOTTOM: 10pt
}
P.b {
	TEXT-ALIGN: left; MARGIN: 2pt 5pt 3pt 20pt; FONT-SIZE: 12pt
}
.h {
	COLOR: #0000ad; FONT-SIZE: 10.5pt
}
A.h:visited {
	COLOR: #0000ad; TEXT-DECORATION: none
}
TABLE.cblk {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; BORDER-COLLAPSE: collapse; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TD.line {
	BORDER-LEFT: #d7dbc1 1px dashed
}
TD.ctxt {
	BORDER-LEFT: #c7cbb1 3px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; COLOR: #202020; FONT-SIZE: 85%; PADDING-TOP: 2px
}
TD.chdr {
	BORDER-BOTTOM: #c9cab6 1px solid; BORDER-LEFT: #c7cbb1 3px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #d9dac6; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; COLOR: #707070; FONT-SIZE: 70%; PADDING-TOP: 2px
}
TD.chdr2 {
	BORDER-BOTTOM: #c9cab6 1px solid; TEXT-ALIGN: right; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #d9dac6; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 2px
}
TD.ctxt BLOCKQUOTE {
	MARGIN-TOP: 0px; PADDING-LEFT: 7pt; COLOR: #202020; MARGIN-LEFT: 5pt; FONT-SIZE: 11pt
}
TD.ctxt UL {
	MARGIN-TOP: 0px; PADDING-LEFT: 7pt; COLOR: #202020; MARGIN-LEFT: 5pt; FONT-SIZE: 11pt
}
TABLE.thdr {
	BORDER-BOTTOM: #b0b190 3px solid; TEXT-ALIGN: center; BORDER-LEFT: 0px; PADDING-BOTTOM: 2px; MARGIN-TOP: 5px; PADDING-LEFT: 2px; WIDTH: 100%; PADDING-RIGHT: 2px; FONT: bold 11px Arial, Helvetica; MARGIN-BOTTOM: 3px; BACKGROUND: #c7cbb1; COLOR: #606090; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 2px
}
TABLE.thdr TR TD A:link {
	COLOR: #606090
}
TABLE.ttxt {
	BORDER-BOTTOM: #b0b190 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #b0b190 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 4px; WIDTH: 100%; PADDING-RIGHT: 4px; MARGIN-BOTTOM: 5px; BACKGROUND: #e9ead6; PADDING-TOP: 2px
}
TABLE.tbrd {
	BORDER-BOTTOM: #b0b190 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #b0b190 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 4px; WIDTH: 100%; PADDING-RIGHT: 4px; FONT: 11pt Arial, Helvetica; MARGIN-BOTTOM: 5px; COLOR: #707088; BORDER-TOP: #b0b190 1px solid; BORDER-RIGHT: #b0b190 1px solid; PADDING-TOP: 2px
}
TD.tnews {
	FONT-FAMILY: Trebuchet ms, sans-serif; COLOR: #707088; FONT-SIZE: 11pt; FONT-WEIGHT: normal
}
TD.tdate {
	COLOR: #707088; FONT-SIZE: 9pt
}
TD.tdelim {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BACKGROUND: #dedfcb; HEIGHT: 4px; FONT-SIZE: 4px; PADDING-TOP: 1px
}
TD.tdelim0 {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; HEIGHT: 4px; FONT-SIZE: 4px; PADDING-TOP: 1px
}
TD.tmenu {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; FONT: 10pt verdana,arial; COLOR: #707088; PADDING-TOP: 3px
}
TABLE.tlist {
	BORDER-BOTTOM: #b0b190 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #b0b190 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 4px; WIDTH: 100%; PADDING-RIGHT: 4px; MARGIN-BOTTOM: 5px; BACKGROUND: #e9ead6; PADDING-TOP: 2px
}
TABLE.tlist TR TD {
	PADDING-BOTTOM: 7px; TEXT-INDENT: -12pt; PADDING-LEFT: 16px; FONT: 10pt verdana, arial; COLOR: #707088
}
TD.tlist {
	PADDING-BOTTOM: 7px; TEXT-INDENT: -12pt; PADDING-LEFT: 16px; FONT: 10pt verdana, arial; COLOR: #707088
}
.cnt {
	COLOR: #707088; FONT-SIZE: 7pt
}
.vt_p {
	FONT: bold 100% Arial, Helvetica; COLOR: #60b060
}
.vt_m {
	FONT: bold 100% Arial, Helvetica; COLOR: #b06060
}
.vt_pp {
	FONT: bold 80% Arial, Helvetica; COLOR: #60b060
}
.vt_mm {
	FONT: bold 80% Arial, Helvetica; COLOR: #b06060
}
.vt_d {
	BORDER-BOTTOM: #b0b190 1px solid; BORDER-LEFT: #b0b190 1px solid; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; COLOR: #606060; FONT-SIZE: 11pt; BORDER-TOP: #b0b190 1px solid; BORDER-RIGHT: #b0b190 1px solid
}
.vt_d2 {
	BORDER-BOTTOM: #b0b190 1px solid; BORDER-LEFT: #b0b190 1px solid; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; COLOR: #606060; FONT-SIZE: 9pt; BORDER-TOP: #b0b190 1px solid; BORDER-RIGHT: #b0b190 1px solid
}
TABLE.fadv {
	BORDER-BOTTOM: #b0b190 1px solid; BORDER-LEFT: #b0b190 1px solid; MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px; BACKGROUND: #f9ead6; BORDER-TOP: #b0b190 1px solid; BORDER-RIGHT: #b0b190 1px solid
}
TABLE.fadv TD {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
